/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
.testContainer{
  width: calc(100% - 245px);
  height: calc(100% - 60px);
  position: absolute;
  right: 0px;
  top:60px;
  
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  border: solid thin #dedede;
}

#actionbarStage{
  height: 45px;
  background-color: #fff;
  border-bottom: solid thin #dededede;
  z-index: 3;
  text-align: left;
  
}

.actionbarButton
{
  
  height: 100%;
  float: left;
}

.actionbarButton:hover
{
  background: #dedede;
}
.actionbarIcon{
  width: 30px;
  height: 30px;
  float: left;
  line-height: 10px;
}
.actionbarText{
  float: left;
  vertical-align: middle;
  margin-left: 5px;
}

.contentStage{
  width: 100%;
  height: calc(100% - 134px);
  overflow-y:scroll;
  display: block;
  position: relative;
  background-color: #fff;
}

.contents{
  background-color: #ffffff;
  width:100%;
  min-height: 100%;
  position: absolute;
  padding: 15px;
  display: flex;/**/
  flex-flow: row;/**/
  flex-wrap: wrap;/**/
  flex-direction: row;/**/
  align-content: flex-start; /*  */
}
.react-context-menu-wrapper {
  width: 100%;
  height: 100%;
}
.contextMenuStage{
  width: 180px;
  background-color: #fff;
  color: #111111;
  border: solid 1px #a1a1a1;
  box-shadow: 0px 0px 10px -20px;
  text-align: left;
  z-index: 4 ;

}
.contextMenuItem{
  border-bottom: solid thin #dedede;
  padding: 10px;
  padding-left: 20px;
  font-size: 13px;
  color: #5c5c5c;
}
.contextMenuItem:hover{
  background: #dedede;
  cursor: pointer;
}
.reactContextMenuWrapper{
  height: 100%;
}
.placemapArea{
  width: 100%;
  height: 60px;
  text-align: left;
  background-color: #fff;
  padding: 15px;
  line-height: 30px;
  border-bottom: solid thin #dededede;
  z-index: 3;
  top: 45px;

}
.placemapArea span{
  font-size: 16px;
}
.placemapArea a{
  text-decoration: none;
  font-size: 16px;
  color: #000;
}


.folderDetails{
  width: 100%;
  text-align: left;
  background: #fff;
  height: 30px;
  border-top: solid thin #dedede;
  bottom: 0px;
  right: 0px;
  font-size: 13px;
  line-height: 30px;
  padding-left: 15px;
}

.itemBlock{
  position: relative;
  text-align: center;
  width: 145px;
  height: 175px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding: 5px;
  background: #fff;
  overflow: hidden;
  border: solid thin #dedede;
}
.itemIcon{
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}
.itemName{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  bottom:5px
  
}