/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
}

#actionbarStage{
  height: 50px;
  background-color: #fff;
  border-bottom: solid thin #dededede;
  z-index: 3;
  text-align: left;
}

.actionbar-button
{
  width: 125px;
  height: 100%;
  background-color: #0066cc;
}
.contentStage{
  width: 100%;
  height: 100%;
  overflow-y:scroll;
  display: block;

}

.contents{
  background: #000;
  background-color: #ffffff;
  width:100%;
  padding: 15px;
  display: flex;/**/
  flex-flow: row;/**/
  flex-wrap: wrap;/**/
  flex-direction: row;/**/
  align-content: flex-start; /*  */
}

.contextMenuStage{
  width: 180px;
  background-color: #fff;
  color: #111111;
  border: solid 1px #a1a1a1;
  box-shadow: 0px 0px 10px -20px;
  text-align: left;
  z-index: 4  ;
}
.contextMenuItem{
  border-bottom: solid thin #dedede;
  padding: 10px;
  padding-left: 20px;
  font-size: 13px;
  color: #5c5c5c;
}
.context-menu-item:hover{
  background: #dedede;
  cursor: pointer;
}

.placemapArea{
  width: 100%;
  height: 60px;
  text-align: left;
  background-color: #fff;
  padding: 15px;
  line-height: 30px;
  border-bottom: solid thin #dededede;
  z-index: 3;
}
.placemapArea span{
  font-size: 16px;
}
.placemapArea a{
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

.folderDetails{
  width: 100%;
  text-align: left;
  background: #fff;
  height: 30px;
  border-top: solid thin #dedede;
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 13px;
  line-height: 30px;
  padding-left: 15px;
}

.itemBlock{
  position: relative;
  text-align: center;
  width: 145px;
  height: 185px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: left;
  padding: 5px;
  background: #fff;
}
.itemIcon{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 5px;
}
.itemName{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}